.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-question {
    height: 15vh;
    width: 25vh;
}

.card-container {
    display: flex;
    width: 25%;
    margin-top: 10vh;
    border-radius: 8px;
    background-color: unset !important;
    flex-direction: column;
}

.small-logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.small-logo-question {
    height: 5vh;
    width: 5vh;
    margin-right: 2vw;
}