/* Neige */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
}

.snow_wrap {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
    position: absolute;
    background-color: #b93232;
}

.snow, .snow:before, .snow:after {
    position: absolute;
    top: -650px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
    background-size: 650px 650px;
    animation: snow 3s linear infinite;
    content: "";
}

.snow:after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 6s;
    animation-direction: reverse;
}

.snow:before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;
    animation-direction: reverse;
}

@keyframes snow {
    to {
        transform: translateY(650px);
    }
}

/* Arbres */
.container-trees {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: end;

}

.contain {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tree1 {
    animation: pop-in 0.5s forwards;
    animation-delay: 2s;
    height: 25vh;
    width: 25vh;
    opacity: 0;
}

.tree2 {
    animation: pop-in 0.5s forwards;
    animation-delay: 1s;
    width: 25vh;
    height: 25vh;
    opacity: 0;
    margin-left: 100px;
}

.tree3 {
    margin-left: 00px;
    animation: pop-in 0.5s forwards;
    animation-delay: 1.5s;
    width: 25vh;
    height: 25vh;
    opacity: 0;
    z-index: 1;
}

.forest {
    margin-left: 0px;
    animation: pop-inForest 0.5s forwards;
    animation-delay: 1.5s;
    width: 25vw;
    height: 25vh;
    opacity: 0;
    z-index: 2;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        height: 15vh;
    }
    50% {
        opacity: 1;
        height: 30vh;
    }
    100% {
        opacity: 1;
        height: 25vh;
    }
}

@keyframes pop-inForest {
    0% {
        opacity: 0;
        height: 15vh;
    }
    50% {
        opacity: 1;
        height: 30vh;
    }
    100% {
        opacity: 1;
        height: 25vh;
        width: 25vw;
    }
}


/* Divs corps de page */
.main-container {
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: auto;
    justify-content: space-evenly;
    position: fixed;
}

.quizz-part {
    background-color: unset;
    height: 80vh;
    width: 30vw;
}

.text-block {
    background-color: unset;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 40vw;
    justify-content: space-evenly;
}

.text {
    padding: 2vh;
    display: flex;
    background-color: white;
    border-radius: 8px;
    height: 30vh;
    width: 100%;
}

.image {
    background-color: pink;
    height: 30vh;
    width: 100%;
}
